@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}
/* header */
header {
    height: 250px;
    background: #fff url(imagens/topo-imagem-principal.png) no-repeat;
}
.right-header {
    height: 250px;
    float: right;
    width: 597px;
    background-color: #F0E69C;
    position: relative;
    bottom: 70px;
}
.cabecalho {
    position: relative;
    top: 15px;
    left: 50px;
}

.cabecalho h2 {
    font-size: 0.9em;
    font-weight: 100;
    font-family: 'Cinzel', serif;

}
.cabecalho a {
    background-color: #A99F53;
    color: white;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;

    padding: 5px;
    position: relative;
    left: 50px;
}
.bar-lateral {

}
.bar-lateral a {
    font-size: 1em;
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    
    padding: 5px;
    display: block;
    width: 130px;
}